
.checkout-form {
    font-family: Arial, sans-serif;
    background-color: #171d25;
    margin: 0;
    padding: 0;
}


.container1 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #171d25;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:white;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.container1 p a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #c6d4df;
}

.checkout-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #c6d4df;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 25px);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px #45556c;
}

.form-group i {
    margin-right: 10px;
}

button {
    width: 96%;
    padding: 15px;
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    background-position: 25%;
    background-size: 330% 100%;
    border: none;
    color: #c6d4df;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    background-position: 0%;
    background-size: 330% 100%;
    background-color: #1a44c2;
    color: #fff;
}

h3 {
    width: 100%;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #c6d4df;
}

.row {
display: -ms-flexbox; 
display: flex;
-ms-flex-wrap: wrap; 
flex-wrap: wrap;
margin: 0 -16px;

}
.col-25 {
-ms-flex: 25%; 
flex: 25%;
max-width: 500px;
}

.col-50 {
-ms-flex: 50%;
flex: 50%;
}

.col-75 {
-ms-flex: 75%; 
flex: 75%;
}

.col-25,
.col-50,
.col-75 {
padding: 0 16px;
}

.price {
    font-weight: 700;
    color: #c6d4df;
}

@media (min-width: 600px) {
    .form-group {
        width: 48%;
    }

    .form-group.full-width {
        width: 100%;
    }

    button {
        width: 48%;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }
}
    
