* {
    text-decoration: none; /* remove text underline */
    box-sizing: border-box;
}

@font-face {
    font-family: "Motiva Sans";
    src: url(fonts/MotivaSans-Regular.ttf) format("truetype");
  }
  

body {
    margin: 0px 0px 0px 0px;
    padding: 0;
    background: #1b2838
}

.navbar {
    background-color: #171d25;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    /* i dont think we need this - yc
    padding-left: 15px; 
    padding-right: 15px;
    */
    margin: 0;
    padding: 0;
}

/* div for nav */
.navdiv {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

/* list containing links */
.navdiv ul li {
    list-style: none;
    display: inline-block;
}

/* Links */
.navdiv .nav_links li a {
    color: #dcdedf;
    font-size: 20px;
    font-weight: 650;
    text-transform: uppercase;
    margin: 20px;
}

.navdiv ul.nav_links {
    flex-grow: 1;
}

.brand a {
    display: flex;
    align-items: center;
}

.brand a .logo {
    /* padding takes values in this order: top, right, bottom, left */
    padding: 10px 30px 10px;
    height: 75px;   
}
.brand_name {   
    color: #b4b4b4; 
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
}

div.profile {
    padding-right: 25px;
}

div.products {
    margin: 1% 2% 1% 2%;
    /* bg color for debug purposes
    background-color: azure;
    */
}

div.productbox {
    background: rgb(160, 176, 251);
    width: 375px;
    height: 225px;
    padding-right: 10%;
    padding-bottom: 10%;
}

#product_img {
    height: 100%;
    width: 100%;
}

#product_name {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #171d25;
}

table.product_table {
    border-spacing: 15px;
}

main {
    margin: 0;
    padding: 0;
}

/* links turn white when hovered over */
ul.nav_links a:hover {
    color: #ffffff;
}